<h1>ALL Products</h1>

<%= form_tag products_path, method: :get, authentication: :false, id: 'search-form', remote: true do %>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag 'Search' %>
<% end %>

<p id="products-count"><%= page_entries_info(@products) %></p>

<div id="products">
	<%= render @products %>
</div>

<div id="products-pagination"><%= paginate @products %></div> <!-- in paginate @products there is a class pagination that we can call (.pagination) -->